
@{
    ViewBag.Title = "DoctorWelcome";
}

<body style="background-image:url(../img/qqq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:400px;
  ">
    <style>
        .head{
            font-family:Arial;
            font-size:44px;
            margin-top:50px;
           color:white;
          
        }
        .img-circle {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background: white;
            margin-top: 60px;
            background-color:darkgrey;
            opacity:0.9;

            
        }
       
         .img-circle:hover {
           border-style:solid;
           border-color:darkturquoise;
           background-color:darkturquoise;
           
           
        }
        
        #circle2 {
            width: 300px;
            height: 350px;
            border-radius: 50%;
            background: white;
            position: relative;
            margin-top: 100px;
            margin-left: 450px;
        }

        #circle2 {
            width: 300px;
            height: 350px;
            border-radius: 50%;
            background: white;
            position: relative;
            margin-top: 100px;
            margin-left: 950px;
        }
    </style>
    <div class="row ">

        <h1 class=" head" style="text-align:center"> <u><b>DOCTORS HANDLER</b></u> </h1>
        <a href="http://localhost:61823/Doctor/DoctorViewSchedule">
            <div class="img-circle col-md-3" style="margin-left:120px">
                <h2 class="text" style=" color:white; margin-top:115px;text-align:center "><b>VIEW SCHEDULE AND REQUESTS</b></h2>
            </div>
        </a>
        <a href="http://localhost:61823/Doctor/DoctorAddSchedule">
            <div class="img-circle col-md-3" style="margin-left:90px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center"><b>ADD SCHEDULE</b></h2>
            </div>
        </a>
        <a href="http://localhost:61823/Doctor/DoctorReset?name=&name=&name=&name=">
            <div class="img-circle col-md-3" style="margin-left:90px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center"><b>RESET PASSWORD</b></h2>
            </div>
        </a>
        <a href="http://localhost:61823/Doctor/DoctorAnnouncement?name=ajhwjswhjdbdhb+hjdehf">
            <div class="img-circle col-md-3" style="margin-left:90px">
                <h2 class="text" style="color:white;margin-top:115px;text-align:center  "><b>ANY ANNOUNCEMENT</b></h2>
            </div>
        </a>
        
    </div>








</body>



